# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Virtual Environment
.venv/
venv/
env/
.env/
.venv*/
venv*/
env*/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# Coverage
.coverage
htmlcov/

# Testing
.pytest_cache/

# Environment variables
.env
.env.local
.env.*.local

# Migrations (опционально - можно закоммитить)
# migrations/

# Black
.black.cache

img.png
img_1.png